:root {
    --gold: #fbc11a;
    --peach: #fade98;
    --green: #5f6c11;
    --grey: #eae7e0;  /* rgb(234, 231, 224) */
    --blue: #4d9699;

    --hover-color: var(--blue);
}

@font-face {
    font-family: Agro;
    src: './assets/font/AgroAI-Regular.woff2';
}

/* ANIMATIONS */
@keyframes TextSlideUp {
    0% { transform: translateY(200px); }
    100% { transform: translateY(0); }
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding: var(--scroll-padding);
}

li { list-style: none;}

body {
    overflow-x: hidden;
    position: relative;
    font-family: Agro, sans-serif;
    font-size: 22px;
    background-color: var(--blue);
}

header {
    padding: 0 120px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-top: 16px;
    top: 0;
    left: 0;
    background-color: rgba(234, 231, 224, 0.4);
    border-bottom: 1px solid var(--gold);
    transition: all 0.5s ease-in;
    .container-fluid, .navbar-nav {  gap: 16px; }
        .navbar-nav .nav-link {
            transition: all 0.4s ease-in;
            color: var(--green);
            text-decoration: underline 1px var(--gold);
            text-underline-offset: 8px;
            &:hover {
                color: var(--hover-color);
                text-decoration: underline 2px var(--hover-color);
            }
        }
}

.header-scrolled { background: rgba(234, 231, 224, 1); }

section {
    margin-bottom: 64px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    border-radius: 12px;
    transition: all 0.4s ease;
    animation-name: appear;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 32%;
    &>h4 {
        margin-bottom: 24px;
        text-align: center;
        width: 100%;
        font-size: 32px;
        letter-spacing: 3px;
        color: var(--blue);
        border-bottom: 2px solid var(--gold);
        padding-bottom: 16px;
    }
}

.gold-table {
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
    width: 680px;
    padding: 24px;
    border-radius: 4px;
    border: 1px solid var(--green);
    background-color: var(--gold);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.left {
    align-self: start;    
    text-align: left;     
    padding: 24px 32px 24px 40px;
    border-bottom-right-radius: 100px;
    border-left: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.right {
    padding: 24px 40px 24px 32px;
    align-self: end;
    text-align: right;  
    border-bottom-left-radius: 100px;
    border-right: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.logo {
    display: flex;
    margin-right: 24px;
    img {
        width: 108px;
        object-fit: contain;
        margin: -24px -28px -0px -24px;
    }
    .logo_title {
        font-size: 32px;
        color: var(--green);
        padding-bottom: 8px;
        letter-spacing: 0.6px;
    }
    .nav-link:hover {
        color: var(--hover-color);
    }
}

.hero {
    height: 100vh;
    max-width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 2px solid var(--grey);
}

.hero__content {
    position: absolute;
    width: 100%;
    z-index: 10;
    top:  50%;
    left: 50%;
    translate: -50% -50%;
    color: var(--blue);
    -webkit-text-stroke: #5f6c11 2px;
    animation-name: TextSlideUp;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    .hero__title {
        font-size: 36px;
        margin-bottom: 40px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: white;
        -webkit-text-stroke: var(--blue) 0.7px;
    }
    .hero__text {
        font-size: 32px;
        letter-spacing: 0.6px;
        line-height: 1.7;
        color: white;
        -webkit-text-stroke: var(--blue) 0.7px;
    }
}

.hero-vid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.demo-stats__list {
    margin: 0 24px;
    padding: 24px;
    display: grid;
    border-radius: 16px;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;
    background-color: var(--green);
}

.demo-stats__list__item {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 16px;
    border-radius: 16px;
    border: 3px solid var(--grey);
    color: var(--grey);
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 1.05;
    .stats__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        font-size: 24px;
        svg {
            width: 64px;
            fill:  var(--grey);
            padding: 8px;
            border-radius: 12px;
        }
    }
    .stats__bottom {
        display: flex; 
        justify-content: center;
        span { font-weight: 600; }
        svg {
            width: 26px;
            margin-top: -6px;
            margin-right: -7px;
        }
    }
}

.benefits {
    padding-top: 0;
    padding-bottom: 16px;
    background-image: url('./img.png');
    background-size: cover;
    background-repeat: no-repeat;
    h4 {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: var(--green);
        margin-bottom: 40px;
        padding: 32px 0;
        background-color: var(--grey);
    }
}

.benefits__list {
    align-self: start;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-top: 180px;
    color: var(--green);
    li {
        width: fit-content;
        border-radius: 16px;
        background-color: var(--grey);
        border: 1px solid var(--gold);
        padding: 7px 10px 7px 32px;
        text-underline-offset: 6.7px;
        font-size: 22px;
        position: relative;
        &:not(:last-child) { margin-bottom: 24px; }
        &::after {
            content: '';
            position: absolute;
            top: 16px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            left: 7px;
            width: 15px;
            height: 11px;
            transform: rotate(25.5deg) skew(45deg) ;
            background-color: var(--green);
        }
    }
}

.our_vision {
    letter-spacing: 0.6px;
    background-color: var(--green);
    color: var(--grey);
    b {color: var(--blue);}
    border: 2px solid var(--grey);
    h4 {
        padding-bottom: 32px;
        color: inherit;
    }
    p {
        padding-left: 40px;
        padding-right: 40px;
        border: none;
    }
}

.project_roadmap {
    animation-range: entry 0% cover 20%;
    background-color: var(--green);
    border: 2px solid var(--grey);
    &>h4 { 
        width: 80%;
        padding-bottom: 32px; 
        color: var(--grey);
    }

}

.project_roadmap .phases__list {
    gap: 60px;
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0px;
}

.phase_item {
    font-size: 20px;
    width: 800px;
    padding-bottom: 40px;
    padding-top: 24px;
    &.left { 
        border-top-left-radius: 30% 10%; 
        border-top-right-radius: 50% 30%; 
        border-bottom-right-radius: 100% 80%; 
        padding-right: 96px;
        padding-left: 16px;
        &>ul {
            margin-left: -32px; 
        }
    }
    &.right { 
        text-align: end; 
        border-bottom-left-radius: 100% 80%;
        border-top-right-radius: 30% 10%; 
        border-top-left-radius: 50% 30%; 
        padding-right: 16px;
        padding-left: 96px;
    }
    h4 {
        font-size: 26px;
        margin-bottom: 16px;
    }
    ul  {
        letter-spacing: 0.6px;
        line-height: 1.5; 
    }
    li:not(:last-child) {margin-bottom: 16px;}
}


footer {
    height: 140px;
    color: var(--grey);
    background-image: url('./footer.png');
    background-position: 50% 30%;
}