:root {
    --gold: #fbc11a;
    --green: #5f6c11;
    --grey: #eae7e0;  
    /* --blue: #4d9699; */
    --blue: #4b6dca;
    --hover-color: var(--blue);
}

@font-face {
    font-family: Agro;
    src: './assets/font/AgroAI-Regular.woff2';
}

/* ANIMATIONS */
@keyframes TextSlideUp {
    0% { transform: translateY(200px); }
    100% { transform: translateY(0); }
}
@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

li { list-style: none;}

body {
    overflow-x: hidden;
    position: relative;
    font-family: Agro, sans-serif;
    font-size: 22px;
    background-color: var(--blue);
}

header {
    padding: 0 120px;
    margin-bottom: 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    padding-top: 16px;
    top: 0;
    left: 0;
    background-color: rgba(234, 231, 224, 0.4);
    border-bottom: 1px solid var(--gold);
    transition: all 0.5s ease-in;
    .container-fluid, .navbar-nav {  gap: 16px; }
        .navbar-nav .nav-link {
            transition: all 0.4s ease-in;
            color: var(--green);
            text-decoration: underline 1px var(--gold);
            text-underline-offset: 8px;
            &:hover {
                color: var(--hover-color);
                text-decoration: underline 2px var(--hover-color);
            }
        }
}

.header-scrolled { background: rgba(234, 231, 224, 1); }

section {
    margin-bottom: 64px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: var(--green);
    transition: all 0.4s ease;
    animation-name: appear;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;

    -webkit-animation-name: appear;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-fill-mode: forwards;

    -o-animation-name: appear;
    -o-animation-iteration-count: 1;
    -o-animation-duration: 2s;
    -o-animation-timing-function: ease-in;
    -o-animation-fill-mode: forwards;

    -moz-animation-name: appear;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease-in;
    -moz-animation-fill-mode: forwards;

    animation-timeline: view();
    animation-range: entry 0% cover 32%;
    &>h4 {
        margin-bottom: 24px;
        text-align: center;
        width: 100%;
        font-size: 32px;
        letter-spacing: 3px;
        color: var(--blue);
        border-bottom: 2px solid var(--gold);
        padding-bottom: 16px;
    }
}

.gold-table {
    font-size: 18px;
    letter-spacing: 0.4px;
    margin-bottom: 40px;
    width: 680px;
    padding: 24px;
    border-radius: 4px;
    border: 1px solid var(--green);
    background-color: var(--gold);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.left {
    align-self: start;    
    text-align: left;     
    padding: 24px 32px 24px 40px;
    border-bottom-right-radius: 100px;
    border-left: transparent;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.right {
    padding: 24px 40px 24px 32px;
    align-self: end;
    text-align: right;  
    border-bottom-left-radius: 100px;
    border-right: transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.logo {
    display: flex;
    margin-right: 24px;
    img {
        width: 108px;
        object-fit: contain;
        margin: -24px -28px -0px -24px;
    }
    .logo_title {
        font-size: 32px;
        color: var(--green);
        padding-bottom: 8px;
        letter-spacing: 0.6px;
    }
    .nav-link:hover {
        color: var(--hover-color);
    }
}

.hero {
    height: 100vh;
    max-width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 2px solid var(--grey);
}

.hero__content {
    position: absolute;
    width: 100%;
    z-index: 10;
    top:  50%;
    left: 50%;
    translate: -50% -50%;
    color: var(--blue);
    animation-name: TextSlideUp;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    .hero__title {
        font-size: 36px;
        margin-bottom: 40px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: white;
    }
    .hero__text {
        font-size: 32px;
        letter-spacing: 0.6px;
        line-height: 1.7;
        color: white;
    }
}

.hero-vid {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.demo-stats__list {
    margin: 0 24px;
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px 24px;
}

.demo-stats__list__item {
    min-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 20px 16px;
    border-radius: 16px;
    border: 3px solid var(--grey);
    color: var(--grey);
    text-align: center;
    letter-spacing: 0.4px;
    line-height: 1.05;
    .stats__head {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        font-size: 24px;
        svg {
            width: 64px;
            fill:  var(--grey);
            padding: 8px;
            border-radius: 12px;
        }
    }
    .stats__bottom {
        display: flex; 
        justify-content: center;
        span { font-weight: 600; }
        svg {
            width: 26px;
            margin-top: -6px;
            margin-right: -7px;
        }
    }
}

.benefits {
    padding-top: 0;
    padding-bottom: 16px;
    background-image: url('./assets/img.png');
    background-size: cover;
    background-repeat: no-repeat;
    h4 {
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        color: var(--green);
        margin-bottom: 40px;
        padding: 32px 0;
        background-color: var(--grey);
    }
}

.benefits__list {
    align-self: start;
    font-size: 18px;
    letter-spacing: 0.7px;
    margin-top: 180px;
    color: var(--green);
    li {
        width: fit-content;
        border-radius: 16px;
        background-color: var(--grey);
        border: 1px solid var(--gold);
        padding: 7px 10px 7px 32px;
        text-underline-offset: 6.7px;
        font-size: 22px;
        position: relative;
        &:not(:last-child) { margin-bottom: 24px; }
        &::after {
            content: '';
            position: absolute;
            top: 16px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            left: 7px;
            width: 15px;
            height: 11px;
            transform: rotate(25.5deg) skew(45deg) ;
            background-color: var(--green);
        }
    }
}

.our_vision {
    letter-spacing: 0.6px;
    background-color: var(--green);
    color: var(--grey);
    b {color: var(--blue);}
    border: 2px solid var(--grey);
    position: relative;
    h4 {
        padding-bottom: 32px;
        color: inherit;
        width: 80%;
    }
    p {
        padding-left: 40px;
        padding-right: 40px;
        border: none;
        width: 80%;
        text-align: center;
    }
}

.vision-vid {
    position: relative;
    top: 0;
    left: 0;
    width: 740px;
    margin: 24px 0;
    border: 2px solid var(--grey);
    border-radius: 16px;
}

.project_roadmap {
    animation-range: entry 0% cover 20%;
    background-color: var(--green);
    border: 2px solid var(--grey);
    &>h4 { 
        width: 80%;
        padding-bottom: 32px; 
        color: var(--grey);
    }

}

.project_roadmap .phases__list {
    gap: 60px;
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0px;
}

.phase_item {
    font-size: 20px;
    width: 800px;
    padding-bottom: 40px;
    padding-top: 24px;
    h4 {
        font-size: 26px;
        margin-bottom: 24px;
        i {
            font-style: normal;
            color: var(--blue);
        }
    }
    ul  {
        letter-spacing: 0.6px;
        line-height: 1.5;
    }
    li {
        position: relative;
        &:not(:last-child) {margin-bottom: 16px;}
        &::after {
            content: '';
            position: absolute;
            top: 8px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            width: 15px;
            height: 11px;
            background-color: var(--green);
        }

    }
    &.left { 
        border-top-left-radius: 30% 10%; 
        border-top-right-radius: 50% 30%; 
        border-bottom-right-radius: 100% 80%; 
        padding-right: 96px;
        padding-left: 16px;
        li::after {
            left: -24px;
            transform: rotate(30deg) skew(45deg);
        }
    }
    &.right { 
        text-align: end; 
        border-bottom-left-radius: 100% 80%;
        border-top-right-radius: 30% 10%; 
        border-top-left-radius: 50% 30%; 
        padding-right: 16px;
        padding-left: 96px;
        ul {
            margin-right: 24px;
        }
        li::after {
            right: -24px;
            transform: rotate(110deg) skew(45deg);
        }
    }
}

footer {
    padding: 40px 24px 64px 24px;
    border-top: 3px solid var(--grey);
    color: var(--grey);
    background-image: url('./assets/footer.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .container {
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
    }
    .logo {
        padding-top: 8px;
        width: fit-content;
        height: 100%;
        width: 100%;
        .logo_title { color: var(--grey); }
    }
    .name {
        position: absolute;
        top: 50%;
        width: 140px;
        right: 160px;
        font-size: 20px;
    }
}

.footer__nav {
    display: flex;
    gap: 16px;
    letter-spacing: 0.8px;
    display: flex;
    flex-direction: column;
    .nav-link {
        transition: all 0.4s ease-in;
        text-decoration: underline 1px var(--gold);
        text-underline-offset: 8px;
        &:hover {
            color: var(--hover-color);
            text-decoration: underline 2px var(--hover-color);
        }
    }
}

footer .contacts {
    display: flex;
    gap: 24px;
    align-self: end;
    justify-self: flex-end;
    svg {
        width: 32px;
        fill: var(--grey);
        transition: all 0.4s ease-in;
        &:hover { fill: var(--hover-color); }
    }
    a {
        transition: all 0.4s ease-in;
        color: var(--grey);
        text-decoration: none;
        letter-spacing: 0.8px;
        &:hover {
            color: var(--hover-color);
            text-decoration: underline 2px var(--hover-color);
        }
    }
    .insta {
        grid-area: insta;
       
    }
    .linkedin {
        grid-area: linkedin;
    }
    .mail {

        grid-area: mail;
    }
}

.navbar-toggler {
    outline: none;
    border: none;
    svg {
        width: 40px;
        height: 40px;
        stroke: var(--green);
        background: none;
        outline: none;
        border: none;
    }
}

@media (max-width: 1250px) {
    footer {
        background-position: center 70%;
    }
    .benefits {
        background-position: 30% top;
    }
}

@media (max-width: 1200px) {
    header {
        padding: 16px 8px 0 8px;
        background-color: var(--grey);
    }
    .benefits {
        background-position: 45% top;
        .gold-table {
            width: 60%;
        }
    }
    .benefits__list {
        margin-top: 120px;
        padding-right: 32px;
        li:last-child {
            width: 90%;
        }
    }
    footer { padding: 40px 24px 40px 24px; }
}

@media (max-width: 991px) {
    header {
        .container-fluid {
            gap: 8px;
            position: relative;
        }
        .navbar ul {
            font-size: 20px;
            margin-top: 8px;
            margin-left: 24px;
        }
        .navbar-toggler {
            position: absolute;
            top: 0;
            right: 16px;
        }
    }
    .hero__content {
        .hero__title {
            font-size: 32px;
            margin-bottom: 40px;
        }
        .hero__text {
            font-size: 28px;
        }
    }
    .demo-stats__list {
        margin: 0 24px;
        padding: 24px;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px 24px;
    }
    .gold-table {  width: calc(100% - 80px); }
    .left, .right { padding: 24px; }
    .benefits {
        background-position: 10% top;
        li { border-bottom-right-radius: 20% 90%; }
        .gold-table {  width: 85%; }
    }
    .our_vision {
        padding-bottom: 8px;
        p {
            padding: 0 32px;
            width: 100%;
        }
    }
    .vision-vid { width: calc(100% - 40px); }
    .phase_item {
        width: calc(100% - 24px);
        &.left {
            &:first-child {
                padding-right: 20%;
            }
        }
    }
    footer {
        padding-bottom: 16px;
        background-position: center 50%;
        .contacts {
            width: 240px;
            flex-wrap: wrap-reverse;
            justify-content: end;
            svg {
                width: 28px;
            }
        }
        .name { top: 72px; }
    }
}

@media (max-width: 780px) {
    .project_roadmap { padding-bottom: 0; }
    .phase_item {
        width: calc(100% - 24px);
        &.right li:last-child { padding-bottom: 16px; }
    }
    section>h4 { font-size: 28px; }
    .benefits>h4,
    .our_vision>h4 { padding: 24px 0; }
    .our_vision {padding-top: 8px;}
    .phase_item>h4 { font-size: 24px; }
}

@media (max-width: 767px) {
    section { margin-bottom: 40px; }
    .hero__content {
        .hero__title {
            font-size: 28px;
        }
        .hero__text {
            font-size: 24px;
        }
    }
    .demo-stats__list { 
        gap: 16px; 
        padding: 16px 12px; 
        margin: 16px;
    }
    .benefits {
        padding-bottom: 8px;
    }
    .benefits__list {
        padding-left: 16px;
    }
    .phase_item {
        &.left li:nth-child(2) {
           padding-bottom: 16px;
           br {display: none;}
        }
        &.right li:last-child { 
            padding-bottom: 0;
            padding-left: 20px;
            br {display: none;}
        }
    }
    footer .name {
        right: 140px;
    }
}

@media (max-width: 600px) {
    body {  font-size: 18px; }
    .benefits .gold-table {width: calc(100% - 16px);}
    .benefits__list {margin-top: 72px;}
    .project_roadmap .phases__list {gap: 40px;}
    .phase_item:nth-child(2) {
        padding-left: 0;
        li:last-child {padding-left: 80px;}
    }
    .phase_item:nth-child(4) {
        padding-left: 0px;
        padding-bottom: 38px;
        border-bottom-left-radius: 60% 70%;
        li:last-child {
            padding-left: 80px;
            br { display: none; }
        }
    }
    .nav-link.logo_title, footer .nav-link.logo_title {
        font-size: 28px;
    }
    .logo {
        img {
            width: 86px;
            margin: -24px -26px 0px -0px;
        }
    }
    footer .name {  right: 56px; }
}

@media (max-width: 521px) {
    section { 
        margin-bottom: 32px; 
        animation-range: entry 0% cover 25%;
    }
    .benefits__list {margin-top: 40px;}
    .project_roadmap .phases__list {gap: 24px;}
    .phase_item {
        width: calc(100% - 8px);
        &:nth-child(2) { border-bottom-left-radius: 80% 70%;}
        &:nth-child(3) { 
            padding-right: 80px;
            border-bottom-right-radius: 70% 80%;
        }
    }
}

@media (max-width: 481px) {
    section { 
        animation: none;
        margin-bottom: 0;
        border-radius: 0;
        &>h4 {
            font-size: 26px;
        }
    }
    .container, .container-fluid {
        margin: 0; 
        padding: 0;
    }
    header {
        padding: 0;
        .logo {
            .logo_title {
                font-size: 24px;
                padding-bottom: 4px;
            }
            img {
                width: 70px;
                margin: -14px -22px 0px -4px;
            }
        }
        .navbar-toggler {
            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
    .hero__content {
        .hero__title {
            font-size: 26px;
        }
        .hero__text {
            font-size: 22px;
        }
    }
    .gold-table:not(.phase_item) {width: calc(100% - 16px);}
    .demo-stats__list {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 24px;
        margin-bottom: 0;
    }
    .demo-stats__list__item {
        min-height: 200px;
        .stats__head {font-size: 22px;}
    }
    .benefits>h4 {
        border-radius: 0;
        border-top: 2px solid var(--gold);
    }
    .benefits__list {
        margin-top: 16px;
        padding-left: 8px;
        padding-right: 8px;
        li {
            font-size: 18px;
            line-height: 1.4;
            padding-right: 8px;
           
        }
        li:not(:last-child) { margin-bottom: 16px; }
        li:last-child { width: 100%; }
    } 
    .our_vision {
        p {
            padding: 0 16px;
            letter-spacing: 0.4px;
            line-height: 1.4;
            margin-bottom: 0;
            font-size: 20px;
        }
    }
    .vision-vid { width: calc(100% - 16px); border-radius: 10px;}
    .project_roadmap>h4 {
        letter-spacing: 1.8px;
    }
    .project_roadmap .phases__list {
        gap: 8px;
    }
    .phase_item {
        li {line-height: 1.4; }
        &:first-child, &:nth-child(3) {
           border-top-right-radius: 40% 20%;
           border-bottom-right-radius: 70% 40%;
        }
        &:nth-child(2), &:last-child {
            border-top-left-radius: 40% 20%;
            border-bottom-left-radius: 70% 40%;
            padding-left: 0;
        }
    }
    footer {
        padding-left: 0;
        padding-right: 0;
        padding-top: 16px;
        .name {  top: 8px; right: 4px; }
        .contacts {
            margin-top: 16px;
            flex-direction: column-reverse;
            gap: 16px;
            margin-left: 32px;
            font-size: 20px;
            svg {
                width: 26px;
                height: 26px;
            }
        }
        .logo {
            margin-top: 44px;
            margin-bottom: 16px;
        }
    }
}

@media (max-width: 380px) {
    header {
        .logo {
            .logo_title {
                font-size: 22px;
                padding-top: 4px;
            }
            img {
                width: 70px;
                margin: -10px -22px 0px -16px;
            }
        }
        .navbar-toggler {
            position: absolute;
            top: 0;
            right: 0;
        }
        .navbar-collapse ul {
            flex-direction: column;
            margin: 0;
            margin-top: 4px;
            padding-left: 8px;
            gap: 8px;
        }
    }
}

@media (max-width: 321px) {
    .hero__content {
        .hero__title {
            font-size: 22px;
        }
        .hero__text {
            font-size: 18px;
        }
    }
    .project_roadmap>h4 {margin-bottom: 0;}
    .phase_item {
        width: 100%;
        margin-top: 0;
        padding-top: 24px;
        &:nth-of-type(even) {
            border-top-left-radius: 0;
        }
        &:nth-of-type(odd) {
            border-top-right-radius: 0;
        }
        h4 { font-size: 22px; }
        ul {
            margin-top: 0;
            padding-left: 12px;
            
        }
        li {  font-size: 18px; }
    }
    footer {
        .contacts {
            margin-left: 16px;
            }
        .logo {
            margin-left: -8px;
        }
        .footer__nav {
            padding-left: 16px;
        }
    }
}
